<iframe name="targetiframe" id="targetiframe" frameborder="0" height="0" width="0" scrolling=no></iframe>
<footer>
  	<div class="footer_inner">
    	<img src="/asset/img/autocadot_footer_logo.png">
      <div class="autocadot_policy">
        <a href="http://www.autodesk.co.kr/content/dam/autodesk/www/homepage/docs/ADSK-korean-privacy-statement.pdf" target="_blank" title="개인 정보 처리 방침 새 창에서 열림"><span>개인 정보 처리 방침</span></a>
        <span style="font-size:12px">|</span>
        <a href="http://www.autodesk.com/company/legal-notices-trademarks?_ga=1.65669806.1067491396.1475127378" target="_blank" title="법적 통지 및 상표 새 창에서 열림"><span>법적 통지 및 상표</span></a>
        <span style="font-size:12px">|</span>
        <a href="http://www.autodesk.co.kr/adsk/servlet/index?id=9547869&siteID=1169528" target="_blank" title="미준수 보고 새 창에서 열림"><span>미준수 보고</span></a>
      </div>
      <ul class="autocadot_info">
      	<li>
        	<span>서울 강남구 영동대로 517 아셈타워 17층&nbsp;&nbsp;&nbsp; <span class="hidden_405">l</span> </span>
          <span>TEL : 02-3484-3400</span>
        </li>
        <li>
        	<span>사업자 등록번호 : 220-81-03385&nbsp;&nbsp;&nbsp; <span class="hidden_405">l</span> </span>
          <span>대표이사 : 페트릭마이클윌리암스</span>
        </li>
        <li>
        	<span>&copy; Copyright <?=date("Y")?> Autodesk.Inc All rights reserved</span>
        </li>
      </ul>
      <ul class="autocadot_sns_list">
      	<li><a class="autocadot_facebook" href="https://www.facebook.com/AutodeskKorea" target="_blank" title="오토데스크 페이스북 새창에서 열림">오토데스크 페이스북</a></li>
      	<li><a class="autocadot_twitter" href="https://twitter.com/autodesk" target="_blank" title="오토데스크 트위터 새창에서 열림">오토데스크 트위터</a></li>
      	<li><a class="autocadot_blog" href="http://blog.naver.com/autodesk_kr" target="_blank" title="오토데스크 블로그 새창에서 열림">오토데스크 블로그</a></li>
      </ul>
      <div class="autocadot_hubsite_list">
        <select class="autocadot_hubsite_opt" onChange='if(this.selectedIndex) { this.blur(); window.open(options[selectedIndex].value); }'>
          <option selected>오토데스크 커뮤니티</option>
          <option value="http://www.mfghub.co.kr/">MFG Content Hub</option>
          <option value="http://www.aechub.co.kr/">AEC Contents Hub</option>
		</select>
      </div>
      <div class="autocadot_email_foot">
        <label><input type="text" id="#mailaddtxt2" name="#mailaddtxt2" placeholder="이메일 주소를 입력해 주세요."></label>
        <a href="javascript:mailaddfooter()">뉴스레터 구독신청</a>
      </div>

    </div>
  </footer>
  <div class="btn_totop_area">
    <a href="#" class="autocadot_btn_totop"><span><img src="img/autocadot_totop_m.png"/></span></a>
  </div>

  <script>
    $("img.lazy").lazyload();
  </script>
</body>
</html>
